{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/styles.css' %}" rel = "stylesheet">

    <!-- Получение шрифтов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/sitelogo.png' %}" type="image/x-icon"/>

    <title>{{ title }}</title>
</head>
<body>
    <div>
        <form method="post">
            <h2 class="head_form">Создать: </h2>
            {{ form.as_p }}
            {% csrf_token %}
            <p><input id="submission_button" type="submit" value="Создать" class="submit_button"></p>
        </form>
    <div>
</body>
</html>

<script>
    const submission_button = document.getElementById("submission_button");
    submission_button.onclick = function() {window.top.location.href = "{% url success_url %}";}
</script>